{% extends 'delivery_app/global.html' %}

{% load static %}

{% block title %}
    Sobre mí
{% endblock title %}

{% block header_title %}
    Sobre mí
{% endblock header_title %}

{% block main %}

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'delivery_app/assets/img/about.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Esteban Ariel Caroprese</h2>
                    <p><b>Proyecto Final - Python</b></p>
                    <p>Coderhouse - Camada 40450</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}